
/* ----- style du formulaire de la page formulation ----- */
.titre-formulation{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 100px;
    margin-top: 50px;
    font-family: var(--title-font);
    color: #006450;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 30pt;
}

.form-content
{
    margin-left: 500px;
    margin-right: 500px;

}


/* select age et pays */
.age-label, .pays-label, mode-form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;
}

.age-select, .pays-select {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #1f2937;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    width: 500px;
    padding: 0.625rem;
}

.age-select:focus {
    outline: none;
    box-shadow: 0 0 0 4px #93c5fd;
    border-color: #3b82f6;
}



.pays-select:focus {
    outline: none;
    box-shadow: 0 0 0 4px #93c5fd;
    border-color: #3b82f6;
}

/* bouton de soumission et d'annulation */
.formuler-button, .annuler-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #006450;
    border: 1px solid #008A31;
    border-radius: 0.2rem;
    transition: background-color 0.2s;
}

.annuler-button
{
    background-color: #FF0000;
}

@media (min-width: 640px) {
    .formulerButton,.annulerButton {
        width: auto;
    }
}

/* radio button Auto Manuel */
.div-auto-manuel {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.auto-input, .manuel-input {
    width: 1rem;
    height: 1rem;
    color: #3b82f6;
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
}


.auto-label, .manuel-label{
    margin-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #1f2937;
}
/* div pour le choix des ingredient au clic du radio button manuel */
.card-choice-ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 300px;
    background-color: white;
    border: 1px solid rgb(0, 100, 80, 0.4);
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: none;
}

/* div pour afficher le resultat */
.card-resultat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 100dvh;
    border: 1px solid rgb(0, 100, 80, 0.4);
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    /* display: none; */
}
