/*
    Auteur: Ansoumane Condé
    Date:   06 mai 2024
    Page:   formulation.css

*/
/* Déclaration des variable*/
@font-face {
    font-family: 'sfpro-text';
    src: url('../css/Font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.otf');
}

:root {
    /**** Text ****/
    --pathway-font: "Pathway Extreme", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    --sfpro-text-font: "sfpro-text", sans-serif;

    --raleway-font: "Raleway", sans-serif;

    --title-font: "Lilita One", sans-serif;

    /**** Color ****/
    --color-easy: #006450;
    --color-feed: #dab651;

    /**** hauteur des navbars ****/
    --diff-width-sidebar: 0px;
    --width-sidebar : calc(250px - var(--diff-width-sidebar));
    --height-navbar: 70px;
}

*
,::after
,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

a, li {
    list-style: none;
    text-decoration: none;
}

hr {
    border: none;
    height: 0.25px;
    background-color: gray;
    opacity: 0.5;
}

.sidebar {

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* animation de l'effet smooth */
    transition: width 0.15s ease, overflow 0.15s step-end;
    overflow: hidden;

    position: fixed;
    width: var(--width-sidebar);
    height: 100dvh;
    background-color: #9FEFBC;
}

.sidebar .title-home {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: var(--height-navbar);
    font-family: var(--title-font);
    font-weight: lighter;
    color: #006450;
}

.sidebar .slide-dropdown {
    padding-left: 0px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

/* .sidebar .side-dropdown .show {
    max-height: 1000px;
    height: 15px;
} */

.sidebar .side-menu {
    margin: 36px 0;
    /*padding: 0 60px; */
}

.sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s ease;
    padding: 12px 16px 12px 22px;
    color: black;
    border-left: 3px solid #9FEFBC;
    font-family: var(--sfpro-text-font);
}

.icon {
    margin-right: 25px;
    width: 24px;
    height: 24px;
}

.icon-bell{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 100px;
    z-index: 1001;
    top: calc(var(--height-navbar) / 2 - 15px);
}

.icon-user{
    width: 35px;
    height: 35px;
    position: fixed;
    right: 50px;
    z-index: 1001;
    top: calc(var(--height-navbar) / 2 - 17.5px);
}

.chevron {
    width: 17px;
    height: 17px;
    margin-left: 30px;
    vertical-align: middle;
}

.sidebar .side-menu a:hover {
    border-left: 3px solid #006450;
    color: #008A31;
    /* background: #F5F5DC; */
}

.sidebar .side-menu a:active {
    color: #008A31;
    background: #F5F5DC; /* Ajout de la couleur de fond pour les liens actifs */
}

.setting {
    background: #EFEF8B;
    width: var(--width-sidebar);
    height: 48px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-family: var(--sfpro-text-font);
    transition: all .15s ease;
}

.setting a {
    display: flex;
    align-items: center;
    margin-left: 25px
}

/* #content {
    position: relative;
    width: calc(100% - var(--width-sidebar));
    left: 300px;
} */

p {
   color: white;
   margin-left: 100px;
}




/* Les modifications du navbar */
.navbar {
    margin-left: var(--width-sidebar);
    width: calc(100% - var(--width-sidebar));
    padding: 0px;
    height: var(--height-navbar);
    background: #006450;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--sfpro-text-font);
    position: fixed;
    z-index: 1000;
    transition: all 0.15s ease;
}

/* Modification du mot de bienvenue */
.welcome {
    color: #FCFCFC;
    margin-left: 25px;
}

/* Aligner horizontalement les items liste du navbar */
.item ul {
    display: flex;
    margin-left: 300px;
    /* justify-content: space-around; */
}

/* la largeur des items dans le navbar */
/* .item {

} */

/* Couleur des items dans le navbar */
.item li a{
    color: #FFF;
}

/* Positionner le contenu c'est a dire le formulaire */
.main-content {
    position: relative;
    margin-left: var(--width-sidebar);
    top: var(--height-navbar);
    font-family: var(--sfpro-text-font);
    overflow: auto;
    height: auto;
}

/* Mettre une bordure au div form */
/* .main-content .form {`
    border: 1px solid #000;
    border-radius: 5px;

} */

.main-content .border {
    border: 1px solid #000;
    border-radius: 2px;
}

/* Centrer le titre Formulation */
.main-content .form h2 {
    text-align: center;
}

/* Les specifications du formulaire */

.main-content form {
    margin: 0 auto;
    margin-top: 10px;
    padding: 1px 150px;
}

/* Les specifications des label du formulaire */
.main-content .form label {
    display: block;
}

/* Les specifications des selects du formulaire */
.main-content .form select {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-content .form input[type="text"] {
    width: 250px;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.main-content .form button {
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}

.main-content .form .formuler {
    background: #006450;
    color: #fff;
    margin-left: 41px;
}

/* ----- style choix animaux ----- */

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    grid-gap: 50px;
    justify-content: center;
    list-style-type: none;
}

.profile-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    border-radius: 10px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grayscale{
    filter: grayscale(.7);
}

.profile-card:hover .profile-info,
.profile-card:hover .side-social a {
    transform: translate(0);
}

.profile-card:hover .side-social a:nth-child(1) {
    transition-delay: 0.1s;
}
.profile-card:hover .side-social a:nth-child(2) {
    transition-delay: 0.2s;
}
.profile-card:hover .side-social a:nth-child(3) {
    transition-delay: 0.3s;
}

.profile-card:hover {
    transform: scale(0.95);
    box-shadow: 0 0 0 3px #f1f1f1;
}

@media (pointer: coarse) {

.profile-card:hover {
    transform: none;
    box-shadow: none;
}
}

@media (max-width: 1024px) {
.gallery {
    grid-template-columns: minmax(auto, 450px);
    grid-auto-rows: auto;
    grid-gap: 50px;
}
}

/* ----- RESPONSIVE----- */

@media screen and (max-width: 768px) {

    .icon-bell{
        width: 30px;
        height: 30px;
        position: fixed;
        right: 70px;
        z-index: 1001;
        top: calc(var(--height-navbar) / 2 - 15px);
    }

    .icon-user{
        width: 35px;
        height: 35px;
        position: fixed;
        right: 20px;
        z-index: 1001;
        top: calc(var(--height-navbar) / 2 - 17.5px);
    }

}

/* --- cacher la sidebar au clic du hamberger button --- */
/* .sidebar-collapsed {
    width: 0;
    transition: width 0.5s;

} */

.hide-text
{
    display: none;
}