/*
    Auteur: Ansoumane Condé, Yannis, Dorian
    Date:   06 mai 2024
    Page:   formulation.css

*/
/* Déclaration des variable*/
@font-face {
    font-family: 'sfpro-text';
    src: url('../css/Font/SF-Pro-Text-Font-Family/SF-Pro-Text-Light.otf');
}

:root {
    /**** Text ****/
    --pathway-font: "Pathway Extreme", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    --sfpro-text-font: "sfpro-text", sans-serif;

    --raleway-font: "Raleway", sans-serif;

    --title-font: "Lilita One", sans-serif;

    /**** Color ****/
    --color-easy: #006450;
    --color-feed: #dab651;

    /**** hauteur des navbars ****/
    --diff-width-sidebar: 0px;
    --width-sidebar : calc(250px - var(--diff-width-sidebar));
    --height-navbar: 70px;

    /**** hauteur des divs ****/
    --height-div-card: 300px;
}

*
,::after
,::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body{
    background-color: #F1F5F9;
}

a, li {
    list-style: none;
    text-decoration: none;
}

hr {
    border: none;
    height: 0.25px;
    background-color: gray;
    opacity: 0.5;
}

.sidebar {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* animation de l'effet smooth */
    transition: width 0.15s ease, overflow 0.15s step-end;
    overflow: hidden;

    position: fixed;
    width: var(--width-sidebar);
    height: 100dvh;
    background-color: #9FEFBC;
}

.sidebar .title-home {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: var(--height-navbar);
    font-family: var(--title-font);
    font-weight: lighter;
    color: #006450;
}

.sidebar .slide-dropdown {
    padding-left: 0px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

.sidebar .side-menu {
    margin: 80px 0px 0px 0px;
}

.sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    transition: all .3s ease;
    padding: 12px 16px 12px 22px;
    color: black;
    border-left: 3px solid #9FEFBC;
    font-family: var(--sfpro-text-font);
}

.icon {
    margin-right: 25px;
    width: 24px;
    height: 24px;
}

.icon-plus {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.icon-bell{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 100px;
    z-index: 1001;
    top: calc(var(--height-navbar) / 2 - 15px);
}

.icon-user{
    width: 35px;
    height: 35px;
    position: fixed;
    right: 50px;
    z-index: 1001;
    top: calc(var(--height-navbar) / 2 - 17.5px);
}

.chevron {
    width: 17px;
    height: 17px;
    margin-left: 30px;
    vertical-align: middle;
}

.sidebar .side-menu a:hover {
    border-left: 3px solid #006450;
    color: #008A31;
}

/*.sidebar .side-menu a:active {
    color: #008A31;
    background: #F5F5DC;
}*/

.setting {
    position: fixed;
    background: #EFEF8B;
    width: 100%;
    height: 48px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    font-family: var(--sfpro-text-font);
    transition: all .15s ease;
    margin-top: 100px;
}

.setting a {
    display: flex;
    align-items: center;
    margin-left: 25px
}


/* Les modifications du navbar */
.navbar {
    margin-left: var(--width-sidebar);
    width: calc(100% - var(--width-sidebar));
    padding: 0px;
    height: var(--height-navbar);
    background: #006450;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--sfpro-text-font);
    position: fixed;
    z-index: 1000;
    transition: all 0.15s ease;
}

/* Modification du mot de bienvenue */
.welcome {
    color: #FCFCFC;
}

/* Aligner horizontalement les items liste du navbar */
.item ul {
    display: flex;
    margin-left: 50vw;
}

/* Couleur des items dans le navbar */
/*.item li a{
    color: #FFF;
}*/


/* style main-content et contenu du main-content */
.main-content {
    position: relative;
    margin-left: var(--width-sidebar);
    top: var(--height-navbar);
    font-family: var(--sfpro-text-font);
    overflow: auto;
    /* height: auto; */
}

/* --- DIV DES CARD POUR LA MEILLEURE FORMULATION, MEILLEURS INGREDIENTS, GESTION --- */
.card-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: px;

    margin: 10px; /* marge entre les cards */
}

.card-formulation {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: var(--height-div-card);
    }

.card-ingredient {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: var(--height-div-card);
}

.card-gestion {
    grid-area: 1 / 3 / 2 / 4;
    width: 100%;
    height: var(--height-div-card);
}

/*  */
.myDiv {
    max-width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid rgb(0, 100, 80, 0.4);
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.myLink h5 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #006450;
}

.myParagraph {
    margin-bottom: 0.75rem;
    color: #4b5563;
}

.myButton {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: white;
    background-color: #9FEFBC;
    color: #008A31;
    border: 1px solid #008A31;
    border-radius: 0.2rem;
    transition: background-color 0.2s; /* Pour l'effet de survol */
}

.myButton:hover {
    background-color: #c1fcd5;
}

.myButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9FEFBC;
}


/* --- DIV DE LA GRANDE CARD POUR LE RAPPORT --- */
.card-parent2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: px;

    margin: 10px; /* marge entre les cards */
}

.card-rapport {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: calc(100dvh - (var(--height-navbar) + var(--height-div-card) + 10px + 10px) - 10px);  /* hauteur de la page - (hauteur_navbar + hauteur_div1 + 10px + 10px (le margin top et bottom de la div1)) - 10px(marge par rapport au bas de la page)*/
}

.card {
    display: block;
    max-width: 100%;
    height: 100%;
    padding: 1.5rem;
    background-color: white;
    border: 1px solid rgb(0, 100, 80, 0.4);
    border-radius: 0.2rem;
    transition: background-color 0.2s ease;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card-title {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #006450;
}

.card-text {
    font-weight: 400;
    color: #4a5568;
}

/*--------------- Style premiere page formulation ---------------*/
.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 300px;
    grid-gap: 10px;
    justify-content: center;
    list-style-type: none;
}

.profile-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease-out;
    border-radius: 10px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grayscale{
    filter: grayscale(.7);
}

.profile-card:hover .profile-info,
.profile-card:hover .side-social a {
    transform: translate(0);
}

.profile-card:hover .side-social a:nth-child(1) {
    transition-delay: 0.1s;
}
.profile-card:hover .side-social a:nth-child(2) {
    transition-delay: 0.2s;
}
.profile-card:hover .side-social a:nth-child(3) {
    transition-delay: 0.3s;
}

.profile-card:hover {
    transform: scale(0.95);
    box-shadow: 0 0 0 3px #f1f1f1;
}

@media (pointer: coarse) {

.profile-card:hover {
    transform: none;
    box-shadow: none;
}
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: minmax(auto, 450px);
        grid-auto-rows: auto;
        grid-gap: 50px;
    }
}

/* ------- Style du formulaire de la page de formulation -------- */



/* ----- RESPONSIVE----- */

/* Responsive pour adapter la cloche de notification et le logo du compte d'utilisateur */
@media screen and (max-width: 768px) {

    .icon-bell{
        width: 30px;
        height: 30px;
        position: fixed;
        right: 70px;
        z-index: 1001;
        top: calc(var(--height-navbar) / 2 - 15px);
    }

    .icon-user{
        width: 35px;
        height: 35px;
        position: fixed;
        right: 20px;
        z-index: 1001;
        top: calc(var(--height-navbar) / 2 - 17.5px);
    }

}

/* Responsive pour disposer les cards sur une colonne lorsque */
@media (max-width: 1024px) {
    .card-parent {
        display: flex;
        grid-auto-rows: auto;
        grid-gap: 10px;
        flex-direction: column;
    }
}