<!--
    Auteur: Ansoumane Condé
    Date:   06 mai 2024
    Page:   formulation.html

 -->



<!DOCTYPE html>

{% extends 'base.html' %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/formulation.css">
    <!-- <link href="https://fonts.google.com/ "/> -->
    <!-- <link href="https://fontawesome.com/icons" rel="stylesheet" /> -->
     <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <title>Formulation</title>
</head>

<body>
<div class="main-content">

        <div class="border">
            <div class="form">
                <h2>Formulation</h2>
            <form action="">
<!--                <label for="select-animal">Quel animal souhaitez-vous élévé</label><br/>-->
<!--                    <select name="animal" id="select-animal">-->
<!--                        <option value="poisson">Poisson</option>-->
<!--                        <option value="porc">Porc</option>-->
<!--                        <option value="poule">Poule</option>-->
<!--                        <option value="vache">Vache</option>-->
<!--                    </select><br>-->

                <label for="select-age">Selectionner l'âge de l'animal</label>
                    <select name="age" id="select-age">
                        <option value="1">1 semaine</option>
                        <option value="2">2 semaine</option>
                        <option value="3">3 semaine</option>
                    </select><br>

<!--                <label for="select-masse">Veillez entrez la masse de l'animal</label><br>-->
<!--                <input type="text" name="masse" id="select-masse"><br>-->

                <label for="select-pays">Dans quel pays vous trouvez vous?</label>
                    <select name="pays" id="select-pays">
                        <option value="DZA">Algérie</option>
                        <option value="CMR">Cameroun</option>
                        <option value="CA">Canada</option>
                        <option value="CI">Côte d'ivoire</option>
                        <option value="GN">Guinée</option>
                        <option value="MLI">Mali</option>
                        <option value="MAR">Maroc</option>
                        <option value="SEN">Sénégal</option>
                    </select><br>

                <button>Annuler</button>
                <button class="formuler">Formuler</button>


            </form>
            </div>

        </div>
    </div>
</body>
</html>