<!--
    Auteur: Ansoumane Condé
    Date:   06 mai 2024
    Page:   formulation.html

 -->


{% extends 'html/bases/base.html' %}

{% block bgListSidebar %}
    .bgFormulation { background-color: #F5F5DC; }
{% endblock %}

{% block content %}
    <div class="main-content">
        <ul class="gallery">
            <a href="../formulation_form">
                <li class="profile-card">
                    <img src="../../static/css/img/animaux/poule.svg" alt="profile" class="profile-img">
                </li>
            </a>

            <a href="#">
                <li class="profile-card img-grayscale">
                    <img src="../../static/css/img/animaux/porc.svg" alt="profile" class="profile-img">
                </li>
            </a>

            <a href="#">
                <li class="profile-card img-grayscale">
                    <img src="../../static/css/img/animaux/boeuf.svg" alt="profile" class="profile-img">
                </li>
            </a>

            <a href="#">
                <li class="profile-card img-grayscale">
                    <img src="../../static/css/img/animaux/oie.svg" alt="profile" class="profile-img">
                </li>
            </a>

            <a href="#">
                <li class="profile-card img-grayscale">
                    <img src="../../static/css/img/animaux/canard.svg" alt="profile" class="profile-img">
                </li>
            </a>

            <a href="#">
                <li class="profile-card img-grayscale">
                    <img src="../../static/css/img/animaux/poisson.svg" alt="profile" class="profile-img">
                </li>
            </a>
        </ul>
    </div>
{% endblock %}