<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyFeed | Accueil</title>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../../static/css/img/leaf-left.png" alt="leaf left" class="fueille-gauche">
        <img src="../../static/css/img/leaf-right.png" alt="leaf right" class="fueille-droite">
        <nav id="navbar">
            <ul class="flex justify-center items-center">
            <li><a href="#" class="projet">Projet</a></li>
            <li><a href="#" class="equipe">Equipe</a></li>
            <li><a href="#" class="contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="section-projet">
        <div class="conteneur-message">
            <div class="message">
                <h1 style="text-align: left;"><span style="color:#053c1f">Easy</span><span style="color:#989627">Feed</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus harum error accusantium tenetur pariatur unde, autem et similique voluptate dicta vitae! Praesentium, hic porro earum facere dolor nam accusamus ut soluta, atque repellendus perferendis? Quam id fuga rerum! Ducimus molestiae aut sit dolor amet sequi, obcaecati aliquam assumenda esse quas! Similique dolorem autem ab, eligendi quam voluptate doloribus explicabo laborum eos natus. 
                </p>
                <br>
                <button class="boutonConnexion"><a href="/login.html">Se connecter</a></button>
            </div>
        </div>

        <figure class="conteneur-photo">
            <figure class="photo">
                <img src="../../static/css/img/chiens-removebg-preview.png" alt="img-chiens">
            </figure>
        </figure>

        <a href="#navbar" class="boutonAnchor">
            <!-- <img class="fleche-haut" src="Start Project Parallax Scrolling Website/arrow-up-solid.svg" alt="arrow-up"> -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
              </svg>              
        </a>
    </section>

    <section id="section-equipe">

    </section>

    <section id="section-contact">

    </section>

</body>
</html>