{% extends 'html/bases/base.html' %}

{% block content %}

{% block username %}
    <span id="username-ingredients">Bienvenue {{ prenom }}  {{nom}}</span>
{% endblock %}

<div class="table">
    <h1 id="title">Ingrédients <img class="icon" src="../../static/css/img/ingredient.svg" alt=""></h1>
    <table class="content-table">
        <thead>
        <tr class="entete">
            <th>Nom de l'ingrédient</th>
            <th>% Protéine brute</th>
            <th>Energie métabolisable</th>
            <th>Cellulose Brute</th>
            <th>Phosphore</th>
            <th>Lysine</th>
            <th>Methionine</th>
            <th>Cystéine Methionine</th>
            <th>Calcium</th>
            <th>Sodium</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for elt in liste %}
            <tr>
                <th scope="row">{{ elt.nomIngredient }}</th>
                <td>{{elt.proteineBrute}}</td>
                <td>{{elt.energieMetabolisable}}</td>
                <td>{{elt.celluloseBrute}}</td>
                <td>{{elt.phosphore}}</td>
                <td>{{elt.lysine}}</td>
                <td>{{elt.methionine}}</td>
                <td>{{elt.cysteineMethionine}}</td>
                <td>{{elt.calcium}}</td>
                <td>{{elt.sodium}}</td>
                <td>{{elt.prix}} $</td>
                <td></td>
                 <td> <button type="button" class="btn-modify">Modifier</button> <button type="button" class="btn-delete">Supprimer</button> </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <div class="navigation">
        <button class="btn-add" type="button" onclick="alert('Hello world!')"><img style="width: 20px; height: 20px;" src="../../static/css/img/plus.svg" alt="">Ajouter un ingrédient</button>
    </div>

</div>
{% endblock %}