{% extends 'html/bases/base.html' %}

{% block content %}

<div class="table">
    <h1 id="title">Ingrédients <img class="icon" src="../../static/css/img/ingredient.svg" alt=""></h1>
    <table class="content-table">
        <thead>
        <tr class="entete">
            <th>Nom de l'ingrédient</th>
            <th>% Protéine brute</th>
            <th>Energie métabolisable</th>
            <th>Cellulose Brute</th>
            <th>Phosphore</th>
            <th>Lysine</th>
            <th>Cystéine Methionine</th>
            <th>Calcium</th>
            <th>Méthionine</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
           <tr>
      <th scope="row">Mais</th>
      <td>7.6</td>
      <td>22</td>
      <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td> <button type="button" class="btn-modify">Ajouter</button> <button type="button" class="btn-delete">Supprimer</button> </td>

    </tr>
    <tr>
      <th scope="row">Blé</th>
      <td>7.6</td>
      <td>45</td>
        <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
        <td>7.6</td>
               <td>7.6</td>
               <td> <button type="button" class="btn-modify">Ajouter</button> <button type="button" class="btn-delete">Supprimer</button> </td>
    </tr>
    <tr>
      <th scope="row">Banane</th>
      <td> 7.6</td>
      <td>29</td>
        <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
        <td>7.6</td>
               <td>7.6</td>
               <td> <button type="button" class="btn-modify">Ajouter</button> <button type="button" class="btn-delete">Supprimer</button> </td>
    </tr>
    <tr>
      <th scope="row">Soja</th>
      <td>7.6</td>
      <td>36</td>
        <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
               <td>7.6</td>
        <td>7.6</td>
               <td>7.6</td>
               <td> <button type="button" class="btn-modify">Ajouter</button> <button type="button" class="btn-delete">Supprimer</button> </td>
    </tr>
        </tbody>

    </table>

    <div class="navigation">
        <button class="btn-add" type="button" onclick="alert('Hello world!')"><img style="width: 20px; height: 20px;" src="../../static/css/img/plus.svg" alt="">Ajouter un ingrédient</button>
    </div>

</div>
{% endblock %}