<!-- 
    Auteur: Ansoumane Condé
    Date:   22 Avril 2024
    Nom:    LOGIN
 -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="left">
        <div class="title-container">
            <span class="title">
                <span class="green">Easy</span><span class="yellow">Feed</span>
            </span> <br/>
            <span class="subtitle">
                Laissez nous faire votre formulation
            </span>
        </div>
    </div>

    <div class="right">

        <div class="container">
            <h1>Bienvenue sur EasyFeed</h1>
            <form>
                {% csrf_token %}    <!--donner les permissions (autorison lorsqu'on fait du json en django)-->
                <div class="loginFrame">
                    <label>Nom d'utilisateur<br><input type="text" id="username"></label><br>
                    <label>Mot de passe<br><input type="text" id="password"></label><br>

                    <div class="test">
                        <input type="checkbox" id="chkconditions" name="chkbox">
                        <label for="chkconditions" class="text-condition">J'accepte les <a href="#" class="info-condition">Conditions d'utilisation</a>  d'EasyFeed et la <a href="#" class="info-condition">politique de confidentialité</a> </label>
                    </div>
                    <button type="button" id="btn-login">Se connecter</button>
                </div>
                
            </form>
        </div>
    </div>
    <script>
        // definir les ulrs
        let url_login = '{% url "easyFeed:connexion" %}';
        let url_dashboard = '{% url "easyFeed:dashboard" %}';
    </script>
    <script src="../../static/js/backend.js"></script>
</body>
</html>