<!-- 
    Auteur: Ansoumane Condé
    Date:   22 Avril 2024
    Nom:    LOGIN
 -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
</head>
<body>
    <div class="left">
        <div class="title-container">
            <span class="title">
                <span class="green">Easy</span><span class="yellow">Feed</span>
            </span> <br/>
            <span class="subtitle">
                Laissez nous faire votre formulation
            </span>
        </div>
    </div>

    <div class="right">

        <div class="container">
            <h1>Bienvenue sur EasyFeed</h1>
            <form action="" method="POST">
                <div class="loginFrame">
                    <label>Nom d'utilisateur<br><input type="text" id="username"></label><br>
                    <label>Mot de passe<br><input type="text" id="password"></label><br>
                    <input type="checkbox" id="chkconditions" name="chkbox">
                    <label for="chkconditions">j'accepte les Conditions d'utilisation d'EasyFeed et la politique de confidentialité</label> <br>
                    <button>Se connecter</button>
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>