<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyFeed | Inscription</title>
    <link rel="stylesheet" href="../../static/css/signup.css">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <h1><span class="color-easy">Sign</span><span class="color-feed">Up</span></h1>
    <h2>Bienvenu! souscrivez à un abonnement</h2>

    <div class="div-connexion">
        <div class="div-form">
            <div class="border-form">
                <form class="max-w-md mx-auto">
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_first_name" id="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" name="floating_last_name" id="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prénom</label>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                        <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Courriel</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="floating_password" id="floating_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                        <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot de passe</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="repeat_password" id="floating_repeat_password" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                        <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmer le mot de passe</label>
                    </div>

                    <br /> <br />

                    <div class="flex items-center me-4">
                        <input checked id="green-checkbox" type="checkbox" value="" class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required />
                        <label for="green-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">J'accepte les <a href="#" style="color:teal; text-decoration: underline;">conditions d'utilisation</a> d’EasyFeed et la <a href="#" style="color:teal; text-decoration: underline;">politique de confidentialité</a></label>
                    </div>

                    <br />

                    <center>
                        <button type="submit" style="margin-top: 5vh;" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-56 px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Enregistrer</button>
                    </center>
                </form>
            </div>
        </div>
    </div>

    <div class="div-toggle">
        <div class="toggle-background">
            <div class="toggle-circle"></div>
        </div>
        <div class="div-child">
            <div class="toggle-switch">
                <button id="mensuel" class="toggle-button active">Mensuel</button>
                <button id="annuel" class="toggle-button">Annuel</button>
            </div>

        </div>
    </div>

    <div class="div-abonnement">
        <div class="div-child">
            <div class="border-abonnement">
                <h2 id="Administrateur">Administrateur</h2>
                <br><br>
                <p style="display: flex; justify-content: center; align-items: center;">
                    EasyFeed vous donne l’occasion de gerer vous meme votre interface
                </p>
                <br><br>
                <center><span class="prix-abonnement"></span><span class="type-abonnement"></span></center>
                <br><br>
                <ul class="list-bonus">
                    <li>→ Gérer la totalité du dashbord</li>
                    <li>→ Ajouter d'un nouvel utilisateur</li>
                    <li>→ Donner et gérer les droits d'accès aux utilisateurs crées</li>
                    <li>→ Ajouter et mettre à jour les ingrédients</li>
                    <li>→ Créer des formulations </li>
                </ul>
                <center>
                    <button type="submit" style="margin-top: 5vh;" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-56 px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Acheter maintenant</button>
                </center>
            </div>
        </div>
    </div>


    <script>
        /* Simple JavaScript to handle active class toggling */
        const toggleCircle = document.querySelector('.toggle-circle');
        const PRIX_ABO_MENSUEL = 100;
        const PRIX_ABO_ANNUEL = 950;
        var devise = "$";
        var aboMensuel = " / mois";
        var aboAnnuel = " / an";

        document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_MENSUEL;
        document.querySelector('.type-abonnement').innerHTML = aboMensuel;


        document.querySelector('#mensuel').addEventListener('click', function() {
            document.querySelector('#mensuel').classList.add('active');
            document.querySelector('#annuel').classList.remove('active');
            document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_MENSUEL;
            document.querySelector('.type-abonnement').innerHTML = aboMensuel;
        });

        document.querySelector('#annuel').addEventListener('click', function() {
            document.querySelector('#annuel').classList.add('active');
            document.querySelector('#mensuel').classList.remove('active');
            document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_ANNUEL;
            document.querySelector('.type-abonnement').innerHTML = aboAnnuel;
        });


    </script>
</body>
</html>