<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyFeed | Inscription</title>
    <link rel="stylesheet" href="../../static/css/signup.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--donner les permissions (autorison lorsqu'on fait du json en django)-->
    <script type="text/javascript">
        var csrfToken = '{{ csrf_token }}';
    </script>

    <h1><span class="color-easy">Sign</span><span class="color-feed">Up</span></h1>
    <h2>Bienvenu! souscrivez à un abonnement</h2>

    <div class="div-connexion">
        <div class="div-form">
            <div class="border-form">
                <form class="max-w-md mx-auto" method="post">
                         {% csrf_token %}    <!--donner les permissions (autorison lorsqu'on fait du json en django)-->
                    <div class="grid md:grid-cols-2 md:gap-6">
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" id="floating_last_name" name="floating_last_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                            <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
                            <label for="floating_first_name"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nom</label>
                        </div>
                        <div class="relative z-0 w-full mb-5 group">
                            <input type="text" id="floating_first_name" name="floating_first_name" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer" placeholder=" " required />
                            <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prénom</label>
                            <label for="floating_last_name"
                                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Prénom</label>
                        </div>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="email" name="floating_email" id="floating_email"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                            placeholder=" " required />
                        <label for="floating_email"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Courriel</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="floating_password" id="floating_password"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                            placeholder=" " required />
                        <button type="button" id="toggle-password" class="absolute right-0 top-0 mt-3 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4">
                                <path
                                    d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
                                <path
                                    d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
                                <path
                                    d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
                            </svg>
                        </button>
                        <label for="floating_password"
                            class="password peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mot
                            de passe</label>
                        <p id="password-error" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>

                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="repeat_password" id="floating_repeat_password"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                            placeholder=" " required />
                        <button type="button" id="toggle-confirm-password" class="absolute right-0 top-0 mt-3 mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4">
                                <path
                                    d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
                                <path
                                    d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
                                <path
                                    d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
                            </svg>
                        </button>
                        <label for="floating_repeat_password"
                            class="confirm-password peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmer
                            le mot de passe</label>
                    </div>
                    <p id="confirm-password-error" class="mt-2 text-sm text-red-600 dark:text-red-500"></p>

                    <br /> <br />

                    <div class="flex items-center me-4">
                        <input id="green-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                            required />
                        <label for="green-checkbox"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">J'accepte les <a href="#"
                                style="color:teal; text-decoration: underline;">conditions d'utilisation</a> d’EasyFeed
                            et la <a href="#" style="color:teal; text-decoration: underline;">politique de
                                confidentialité</a></label>
                    </div>

                    <br />

                    <center>
                        <button id="btn-enregistrer" type="button" style="margin-top: 5vh;"
                            class="text-white bg-teal-700  focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-56 px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-200">Enregistrer</button>
                    </center>
                </form>
            </div>
        </div>
    </div>

    <div class="div-toggle">
        <div class="toggle-background">
            <div class="toggle-circle"></div>
        </div>
        <div class="div-child">
            <div class="toggle-switch">
                <button id="mensuel" class="toggle-button active">Mensuel</button>
                <button id="annuel" class="toggle-button">Annuel</button>
            </div>

        </div>
    </div>

    <div class="div-abonnement">
        <div class="div-child">
            <div class="border-abonnement">
                <h2 id="Administrateur">Administrateur</h2>
                <br><br>
                <p style="display: flex; justify-content: center; align-items: center;">
                    EasyFeed vous donne l’occasion de gerer vous meme votre interface
                </p>
                <br><br>
                <center><span class="prix-abonnement"></span><span class="type-abonnement"></span></center>
                <br><br>
                <ul class="list-bonus">
                    <li>→ Gérer la totalité du dashbord</li>
                    <li>→ Ajouter d'un nouvel utilisateur</li>
                    <li>→ Donner et gérer les droits d'accès aux utilisateurs crées</li>
                    <li>→ Ajouter et mettre à jour les ingrédients</li>
                    <li>→ Créer des formulations </li>
                </ul>
                <center>
                    <button type="button" id="btn-buy-now" style="margin-top: 5vh;" class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-56 px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800">Acheter maintenant</button>
                </center>
            </div>
        </div>
    </div>


    <script>



        /* Simple JavaScript to handle active class toggling */
        const toggleCircle = document.querySelector('.toggle-circle');
        const PRIX_ABO_MENSUEL = 100;
        const PRIX_ABO_ANNUEL = 950;
        var devise = "$";
        var aboMensuel = " / mois";
        var aboAnnuel = " / an";

        $(document).ready(function () {
            const PRIX_ABO_MENSUEL = 100;
            const PRIX_ABO_ANNUEL = 950;
            var devise = "$";
            var aboMensuel = " / mois";
            var aboAnnuel = " / an";

            $('.prix-abonnement').html(devise + PRIX_ABO_MENSUEL);
            $('.type-abonnement').html(aboMensuel);

            $('#mensuel').click(function () {
                $('#mensuel').addClass('active');
                $('#annuel').removeClass('active');
                $('.prix-abonnement').html(devise + PRIX_ABO_MENSUEL);
                $('.type-abonnement').html(aboMensuel);
            });

            $('#annuel').click(function () {
                $('#annuel').addClass('active');
                $('#mensuel').removeClass('active');
                $('.prix-abonnement').html(devise + PRIX_ABO_ANNUEL);
                $('.type-abonnement').html(aboAnnuel);
            });

            /* Gestion des mots de passe */

            // masquer ou afficher le mot de passe
            let hidePasswordSvg = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4"><path d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" /><path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" /><path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" /></svg>';

            let showPasswordSvg = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4"><path d = "M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" /><path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" /></svg >';

            $('#toggle-password').click(function () {
                let password = $('#floating_password');
                password.attr('type', password.attr('type') === 'password' ? 'text' : 'password');
                $(this).html(password.attr('type') === 'password' ? hidePasswordSvg : showPasswordSvg);
            });

            $('#toggle-confirm-password').click(function () {
                let confirmPassword = $('#floating_repeat_password');
                confirmPassword.attr('type', confirmPassword.attr('type') === 'password' ? 'text' : 'password');
                $(this).html(confirmPassword.attr('type') === 'password' ? hidePasswordSvg : showPasswordSvg);
            });


            // Gerer la taille du mot de passe
            $('#floating_password').keyup(function () {
                if ($(this).val().length < 4) {
                    $(".password").css('color', 'red');
                    $(this).css('border-color', 'red');

                    $('#password-error').html('Le mot de passe doit contenir au moins 4 caractères');
                }
                else {
                    $(this).css('border-color', 'teal');
                    $(".password").css('color', 'teal');
                    $('#password-error').html('');
                }
            });

            // Gerer la confirmation du mot de passe
            $('#floating_repeat_password').keyup(function () {
                if ($(this).val() != $('#floating_password').val() && $(this).focus()) {
                    // $(this).focus();
                    $(this).css('border-color', 'red');
                    $(".confirm-password").css('color', 'red');
                    $('#confirm-password-error').html('Les mots de passe ne correspondent pas');
                }
                else {
                    $(this).css('border-color', 'green');
                    $(".confirm-password").css('color', 'teal');
                    $('#confirm-password-error').html('');
                }
            });

            //tant que le checkbox n'est pas coché, on desactive le bouton enregistrer et on le grise
            $('#btn-enregistrer').prop('disabled', true);
            $('#btn-enregistrer').removeClass('bg-teal-700');
            $('#btn-enregistrer').addClass('bg-gray-300');

            $('#green-checkbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#btn-enregistrer').prop('disabled', false);
                    $('#btn-enregistrer').removeClass('bg-gray-300');
                    $('#btn-enregistrer').addClass('bg-teal-700');

                    $('#btn-enregistrer').click(function () {

                        $('input').each(function () {
                            if (this.type !== 'checkbox' && $(this).val() === ''){
                                alert('Veuillez remplir tous les champs');
                                $(this).focus();
                                return false;
                            }
                        });
                    });
                }
                else {
                    $('#btn-enregistrer').prop('disabled', true);
                    $('#btn-enregistrer').removeClass('bg-teal-700');
                    $('#btn-enregistrer').addClass('bg-gray-300');
                }
            });
        });

        /* Simple JavaScript to handle active class toggling */
        // const toggleCircle = document.querySelector('.toggle-circle');
        // const PRIX_ABO_MENSUEL = 100;
        // const PRIX_ABO_ANNUEL = 950;
        // var devise = "$";
        // var aboMensuel = " / mois";
        // var aboAnnuel = " / an";

        // document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_MENSUEL;
        // document.querySelector('.type-abonnement').innerHTML = aboMensuel;

    // definir les ulrs
        let url_login = '{% url "easyFeed:login" %}';
        let url_signup = '{% url "easyFeed:signup" %}';

        // document.querySelector('#mensuel').addEventListener('click', function () {
        //     document.querySelector('#mensuel').classList.add('active');
        //     document.querySelector('#annuel').classList.remove('active');
        //     document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_MENSUEL;
        //     document.querySelector('.type-abonnement').innerHTML = aboMensuel;
        // });

        // document.querySelector('#annuel').addEventListener('click', function () {
        //     document.querySelector('#annuel').classList.add('active');
        //     document.querySelector('#mensuel').classList.remove('active');
        //     document.querySelector('.prix-abonnement').innerHTML = devise + PRIX_ABO_ANNUEL;
        //     document.querySelector('.type-abonnement').innerHTML = aboAnnuel;
        // });

        // /****  Gestion des mots de passe ****/

        // // masquer ou afficher le mot de passe
        // let togglePassword = document.querySelector('#toggle-password');
        // let toggleConfirmPassword = document.querySelector('#toggle-confirm-password');
        // let password = document.querySelector('#floating_password');
        // let confirmPassword = document.querySelector('#floating_repeat_password');


        // let hidePasswordSvg = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4"><path d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" /><path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" /><path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" /></svg>';

        // let showPasswordSvg = '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#6B7280" class="w-4 h-4"><path d = "M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" /><path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" /></svg >';

        // // avec le imediate if gerer le toggle password
        // togglePassword.addEventListener('click', function () {
        //     password.type = password.type === 'password' ? 'text' : 'password';
        //     togglePassword.innerHTML = password.type === 'password' ? hidePasswordSvg : showPasswordSvg;
        // });

        // toggleConfirmPassword.addEventListener('click', function () {
        //     confirmPassword.type = confirmPassword.type === 'password' ? 'text' : 'password';
        //     toggleConfirmPassword.innerHTML = confirmPassword.type === 'password' ? hidePasswordSvg : showPasswordSvg;
        // });
    </script>
    <script src="../../static/js/backend.js"></script>
</body>

</html>